*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  background-color: #f4f4f4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
  padding: 30px;
  background-color: #000000c7;
  color: #fff;
  font-weight: 800;
}
header h1 {
  font-size: 1.7rem;
}

header p {
  font-size: 1.2rem;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.chat-block {
  max-width: 350px;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 5px;
  background-color: #73656512;
  position: relative;
  margin: 0 20px;
}

.username {
  background-color: #555454;
  color: #ffffff;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: .8rem;
}

.username-desc {
  font-weight: 700;
  margin-right: 10px;
}

.username-title {
  cursor: pointer;
}

.chat-room {
  padding: 10px;
}

.chat-room li {
  list-style: none;
  margin: 5px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.chat-room li:first-child {
  margin-top: 0 !important;
}

.chat-room .chat-sender {
  font-weight: 600;
  font-style: italic;
  color: #333;
}

.chat-msg {
  color: #555;
}
.sent {
  color: green;
}

form {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chatInput input {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #f4f4f4;
  outline: 0;
}

.chatInput button {
  cursor: pointer;
  width: 20%;
  margin: 0 auto;
  padding: 5px 0;
  color: #fff;
  background-color: #0a0202;
  border: 1px solid #0a0202;
  outline: 0;
}

.fa-send {
  color: #fff;
  font-size: 1.2rem;
}

@media screen and (min-width: 300px) {
  .chat-block {
    width: 250px;
    margin: 0;
  }
}

@media screen and (min-width: 700px) {
  html {
    font-size: 14px;
  }
  .chat-block {
    width: 350px;
  }
}
